<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log-in needed</title>
  </head>
  <body>
    <h1>
      You can't see what's on this page because you're either not a user or not logged in.
      <br />
      <a href="/register">Register here</a>
      <br />
      <a href="/log-in">Log in here</a>
      <br />
      <a href="/">Return to the homepage</a>
    </h1>
  </body>
</html>
