<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Join Club</title>
  </head>
  <body>
    <% if(user && user.membership === false) {%>
    <h1>Join the club now!</h1>
    <p>If you know the password that is...</p>
    <form action="/join-club" method="post">
      <label for="secretpass">Secret Password</label>
      <input type="text" id="secretpass" name="secretpass" required />
      <button type="submit">Submit</button>
    </form>
    <% } else { %> <%- include("./partials/notauserpartial.ejs") %> <%}%>
  </body>
</html>
